<!-- {% load static %} -->
<!DOCTYPE html>
<html lang=""ja>
    <head>
        <title>{{title}}</title>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'useradmin/css/standard.css' %}"/> -->
    </head>
    <body>
        <h1>{{head}}</h1>
        <form method="post" action="{% url 'upimg' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="upload">
        </form>
    </body>
</html>